NODE_ENV=development
PORT=3000
TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_CHAT_IDS=
HENRIK_API_KEY=
EVENTS_PUBLISHING_ENABLED_AFTER=
PUBLIC_BASE_URL=
DATABASE_URL=file:./data/data.db
DATABASE_FILE=./data/data.db
LITESTREAM_S3_BUCKET=
LITESTREAM_S3_ENDPOINT=
LITESTREAM_S3_ACCESS_KEY_ID=
LITESTREAM_S3_SECRET_ACCESS_KEY=
HEALTHCHECK_SCANNER_URL=
SCANNER_DISABLED=false
TELEGRAM_PRIMARY_CHAT_ID=
